<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhf.user.dao.MqMessageInfoDao">

    <resultMap id="BaseResultMap" type="com.xhf.model.user.entity.MqMessageInfo">
            <id property="mqMsgId" column="mq_msg_id" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="errorInfo" column="error_info" jdbcType="VARCHAR"/>
            <result property="retryNum" column="retry_num" jdbcType="INTEGER"/>
            <result property="exchangeName" column="exchange_name" jdbcType="VARCHAR"/>
            <result property="routingKey" column="routing_key" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="publishStatus" column="publish_status" jdbcType="BOOLEAN"/>
            <result property="consumerStatus" column="consumer_status" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        mq_msg_id,message,error_info,
        retry_num,exchange_name,routing_key,
        start_time,end_time,publish_status,
        consumer_status
    </sql>
</mapper>
