<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单提交界面</title>
    <!-- 引入Element框架样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入Vue库 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- 引入 Vue -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.0/dist/vue.min.js"></script>-->
    <!-- 引入 Element Plus -->
<!--    <script src="https://cdn.jsdelivr.net/npm/element-plus@1.0.2/lib/index.full.js"></script>-->
    <!-- 引入Element框架脚本 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-form @submit.native.prevent="submitForm" label-position="top">
<!--        <el-form-item label="班级">-->
<!--            <el-input v-model="yourClass" required></el-input>-->
<!--        </el-form-item>-->
        <el-form-item label="学号">
            <el-input v-model="signUpFormDto.stuSno" required></el-input>
        </el-form-item>
        <el-form-item label="姓名">
            <el-input v-model="signUpFormDto.stuName" required></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" native-type="submit">提交</el-button>
        </el-form-item>
    </el-form>
</div>

<script>
    // import { ElMessage } from "element";

    const queryParams = new URLSearchParams(window.location.search);
    const requestId = queryParams.get('requestId');
    const semId = queryParams.get('semId');
    const address = queryParams.get('address');
    const teacherId = queryParams.get('teacherId');
    console.log(semId);
    console.log(requestId);
    console.log(address);
    console.log(teacherId);

    new Vue({
        el: '#app',
        data: {
            signUpFormDto: {
                stuSno: '',
                stuName: '',
                requestId: requestId,
                semId: semId,
                teacherId: teacherId
            }
        },
        methods: {
            submitForm() {
                // 在这里可以编写提交表单的逻辑
                // 例如，可以将数据发送到后端API进行处理
                console.log('班级：', this.class);
                console.log('学号：', this.studentId);
                // 发送axios请求
                axios.post(address + "/api/sign/signup/sign-up-form",
                    this.signUpFormDto, {
                        withCredentials: true,   //设置跨域的时候传递cookie，需要服务端的配合
                    }
                ).then(resp => {
                    // debug
                    console.log(resp);
                    if (resp.data.code === 0) {
                        this.$message({
                            message: '签到成功',
                            type: 'success'
                        });
                    }else {
                        this.$message({
                            message: '签到失败: ' + resp.data.msg,
                            type: 'error',
                            duration: 5000,
                            showClose: true
                        });
                    }
                });
            }
        }
    });
</script>
</body>
</html>
